<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200&display=swap" rel="stylesheet">

    <title>Evaluate News Articles</title>
</head>
<body>
    <header>
        <div class="">
            Sentiment Analysis
        </div>

        <div class="">
            Natural Language Processing
        </div>
    </header>
    <main>
        <section>
            <form class="" onsubmit="return handleSubmit(event)">
                <input id="name" type="text" name="input" value="" placeholder="Paste URL here">
                <input type="submit" name="" value="submit" onclick="return handleSubmit(event)">
            </form>
        </section>
        <section>
            <strong>Results:</strong>
            <div id="results"></div>
            <div id="model"></div>
            <div id="score_tag"></div>
            <div id="agreement"></div>
            <div id="subjectivity"></div>
            <div id="confidence"></div>
            <div id="irony"></div>

        </section>
    </main>
    <footer>
        <p>Project created by Gabriel Borja. Sentiment Analysis using MeaningCloud API</p>
    </footer>
</body>

</html>