body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(136, 203, 171);
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}

main {
    flex: 2;
}

section {
    max-width: 820px;
    padding: 15px;
    margin: 5px auto;
}

#results {
    font-size: 2em;
    padding: 15px;
    color: #458148;
    margin: 5px auto;
}